/guiThumbs
/thumbs
config/GuiConfig.cfg
config/PlayerConfig.cfg
config/ImageMaskTest.cfg
TaktPlayerGui.log.old
TaktPlayerGui.log
/pythonExtra
/build
/dist
.DS_Store
setup.py
TaktPlayer.dmg
TaktPlayer.dmg.old
*.pyc
TaktPlayer.log.old
TaktPlayer.log.old
.pydevproject
.project
com.aptana.ide.core.unifiedBuilder.launch
org.python.pydev.PyDevBuilder.launch
